<div class="homepage-image-container">
    <img [src]="homepagePathImage" alt="Group of runners for the homepage image" class="homepage-image">
  <h1 class="mat-title-large">Vous ne courrez plus jamais seul.e</h1>
  <app-button class="sign-btn" label="Rejoignez-nous" color="primary"></app-button>
  <div class="introduction-text">
    <p>A2 Running Bordeaux réunit toutes les personnes qui souhaitent courir en groupe, dans la bonne humeur, l’entraide et surtout sans esprit de compétition.</p>
  </div>
</div>


<!-- Bloc "Le concept" -->
<div class="concept-container">
  <h2>Le concept</h2>
  <p>{{ conceptText }}</p>
</div>

<!-- Bloc "Nos valeurs" -->
<div class="values-container">
  <h2>Nos valeurs</h2>
  <div class="value-cards">
<!--    <app-value-card [title]="value1Title" [description]="value1Description"></app-value-card>-->
<!--    <app-value-card [title]="value2Title" [description]="value2Description"></app-value-card>-->
<!--    <app-value-card [title]="value3Title" [description]="value3Description"></app-value-card>-->
  </div>
</div>

<!-- Bloc "app-calendar" -->
<div class="calendar-container">
<!--  <app-calendar></app-calendar>-->
</div>
