.nav-title {
  flex: 1;
  text-align: center;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 15rem;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar-single-row {
  justify-content: space-evenly
}

.drawer-links-icons {
  margin-right: 1rem;
}
