@import '../../variables';

.value-card {
  overflow: hidden;
  text-align: center;
  background-color: $tertiary-color;
  @include responsive-card(10%, 20%, 30%);
}

.top-bar,
.bottom-bar {
  height: 0.7rem;
  width: 70%;
  background-color: $primary-color;
  margin: 0 auto;
}

.card-image {
  border-radius: 50%;
  margin: 10px 0;
}

.mat-mdc-card-content> h3{
  margin-bottom: 1rem;;
  @include responsive-font(1rem, 1.5rem, 1.5rem);
}

h2{
  color: $secondary-color;
  margin-top: 1rem;
}
